/*
.##.....##....###....########..####....###....########..##.......########..######.
.##.....##...##.##...##.....##..##....##.##...##.....##.##.......##.......##....##
.##.....##..##...##..##.....##..##...##...##..##.....##.##.......##.......##......
.##.....##.##.....##.########...##..##.....##.########..##.......######....######.
..##...##..#########.##...##....##..#########.##.....##.##.......##.............##
...##.##...##.....##.##....##...##..##.....##.##.....##.##.......##.......##....##
....###....##.....##.##.....##.####.##.....##.########..########.########..######.
*/

// Colors
$nav-dark:#FFFFFF;
$nav-light: #232429;
$text-dark-lighten: #4F4F4F;

// Fonts
$link-font:'Roboto', sans-serif;
$headding-font:'Merriweather', serif;
$body-font:'Roboto', sans-serif;